body {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
    height: 90%;
    width: 100%;
}